<div class="card">
    <img [src]="User.photo" [alt]="User.name" />
    <div class="userInfos">
        <span [ngClass]="{'important': isImportant}">Name: {{User.name}}</span>
        <span [ngStyle]="{background: isImportant ? 'red' : 'yellow'}">Firstname: {{User.firstName}}</span>
        <!-- <span [hidden]="!show">Age: {{User.age}}</span> -->
        <span *ngIf="show">Age: {{User.age}}</span>
    </div>
    <div class="quote">
        <p>{{User.quote}}</p>
        <input [(ngModel)]="User.quote" placeholder="quote" />
    </div>
    <div class="button-show-age">
        <button (click)="ToggleShowAge()">Show/Hidden my age</button>
        <ul *ngFor="let movie of movies">
            <li>{{ movie }}</li>
        </ul>
    </div>
</div> 
