.userInfos {
    display: grid;
    font-size: 16px;
    margin-left: 10px;
}

.card {
    border: solid 1px grey;
    border-radius: 5px;
}

.button-show-age{
  background-color: rgb(189, 189, 189);
  padding: 10px;
}

.quote {
    margin-left: 10px;
}

.important {
    color: blueviolet;
}