<div class="card">
    <img [src]="User.photo" [alt]="User.name" />
    <div class="userInfos">
        <span>Name: {{User.name}}</span>
        <span>Firstname: {{User.firstName}}</span>
        <span *ngIf="!show">Age: {{User.age}}</span>
    </div>
    <div class="quote">
        <p>{{User.quote}}</p>
        <input [(ngModel)]="User.quote" placeholder="quote" />
    </div>
    <div class="button-show-age">
        <button (click)="ToggleShowAge()">Show/Hidden my age</button>
    </div>
</div> 
